/* HTML */

body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

h1, h2, h4, h5, h6 {
    font-family:Verdana, Geneva, Tahoma, sans-serif; 
    font-size:3rem;  
    line-height: 1.5; 
    }


h3 {
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

p {
    color: #8f8f8f;
}

/* Title */

#title {
    background-color: rgb(172, 41, 41);
    color: white;
    text-align: left;
    
}

.navbar-brand {
    padding-left:0rem;
}

.title-img {
    transform: rotate(20deg);
    height: 42rem;
    width:24rem;
    position: absolute;
    padding-left: 32%; 
    padding-bottom:55%; 
    
    
}

.title-img:hover {
    height: 25rem;
    transform: rotate(0deg);
    padding-bottom:7%;
    position: absolute;
    
    
}

.container-fluid {
    padding: 3% 15%;
}

/* Nav-bar */

.navbar-brand {
    font-family:'ubuntu';
    font-size: 3rem;
    font-weight: bold;
    padding-bottom:5rem;
    margin: 0%;
    
}

.navbar-nav {
    font-family:'ubuntu';
    font-weight: bold;
    font-size: 1.2rem;
    padding-bottom:5rem;
    padding-left: 15px;
    padding-right: 15px;
}

.download-button {
margin: 5% 0%;
}

/* Media breaks */

@media  (max-width:900px) {
    .title-img {
    height: 25rem;
    padding: 3% 25% 3% 20%;
    position:static;
    transform:rotate(0deg);
    }
    .title-img:hover {
    height: 25rem;
    padding: 3% 25% 3% 20%;
    position:static;
    transform:rotate(0deg);
    }
     #title {
        text-align: center;
    } 

    .navbar-brand {
        padding: 70px;
    }
}

/* Features */

#features {
    z-index: 1;
    background-color: #fff;
    position: relative;
    
}

.feature-box {
    padding: 5%;
    position: relative;
    z-index: 1;
}

.icon {
    color:#ef8172;
    padding: 0 0 1rem 0;
}

.icon:hover {
    color: #ff4c68;
}

/* Testimonials & press */

#press {
    background-color:#ef8172 ;
    padding-bottom: 3%;
}

#testimonials {
    background-color: #ef8172;
    color: white;
}

.testimonial-image {
    border-radius: 100%;
    padding:0.8rem;
    width: 11rem;
}

.carousel-item {
    padding: 7% 15%;
}

.press-img {
    width: 15%;
    margin: 20px 20px 50px;
}

/* Pricing cards */

#pricing {
    padding: 0px 0 5rem 5rem ;
    margin: 0 7% ;
    
} 

.pricing-text {
    padding: 5%;
    text-align: center;
}

.card-body {
    height: 16rem;
}


/* Call to Action */

#cta {
    background-color:rgb(172, 41, 41);
    color: white;
    font-family:'ubuntu';
    font-weight: bold;
    font-size: 3rem;
    padding: 5rem;
}

.buttons {
    padding: 3%;
    
}

.btn-outline-light {
    background-color: white;
    color: black;
}

/* Footer */

#footer {
    background-color:white;
    color:rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight:3rem;
    font-size: 1rem;
    padding: 0.8rem;

}

.social {
    padding: 0 1rem;
}